<%= form_with(model: @task) do |form| %>

  <% if @task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@task.errors.count, "error") %> 以下のエラーにより保存できませんでした。</h2>

      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <div class="input-group-text">
      <%= form.check_box :checked, class: "form-check-input mt-0", aria_label: "Checkbox for following text input" %>
    </div>
    <%= form.text_field :content, class: "form-control", aria_label: "Text input with checkbox", placeholder: "自分で決めたやることを投稿しよう！", required: true %>
    <button type="submit" class="btn btn-primary">クエスト作成</button>
  </div>

<% end %>
