<%= turbo_frame_tag task do %>
  <div class="input-group mb-0">
    <%= link_to user_path(task.list.user) do %>
      <img src="<%= task.list.user.image %>" width="50" height="50" style="display: block; margin: auto;">
    <% end %>

    <%= form_with model: task, html: { data: { turbo_frame: task.id } }, class: "input-group-text" do |form| %>
      <%= form.check_box :checked, class: "form-check-input mt-0", onchange: 'this.form.requestSubmit()', aria_label: "Checkbox for following text input", checked: task.checked %>
    <% end %>

    <input type="text" class="form-control" style="overflow: auto; aria-label="Text input with checkbox" value="<%= task.content %>" readonly>

    <%# link_to "詳細", task, class: "btn btn-secondary" %>
    <% if current_user == task.user %>
      <%= link_to edit_task_path(task), class: "btn btn-secondary" do %>
        <i class="bi bi-pencil-square"></i>
      <% end %>
      <turbo-frame id="${this.element.id}">
        <%= link_to task, class: "btn btn-secondary", data: {
                                                              turbo_method: :delete,
                                                              turbo_confirm: '本当に削除しますか？'
                                                              }, style: "height: 50px;" do %>
          <i class="bi bi-trash"></i>
        <% end %>
      </turbo-frame>
    <% end %>

    <% if current_user.already_liked?(task) %>
      <% like = current_user.likes.find_by(task_id: task.id) %>
      <%= button_to task_like_path(task, like), method: :delete, class: "btn btn-primary", style: "height: 50px;" do %>
        <div class="d-inline-block">
          <i class="bi bi-star-fill" style="color: #ffc107"></i>
          <span style="color: #ffc107"><%= task.likes.count %></span>
        </div>
      <% end %>
    <% else %>
      <%= button_to task_likes_path(task), method: :post, class: "btn btn-primary", style: "height: 50px;" do %>
        <i class="bi bi-star"></i>
        <%= task.likes.count %>
      <% end %>
    <% end %>

  </div>
<% end %>
