<div class="container px-4 py-5 my-5">
  <div class="text-center">

    <p style="color: white"><%= notice %></p>

    <h1 class="white-text">クエスト詳細</h1>

    <%= render @task %>

    <div>
      <%= link_to "クエスト編集", edit_task_path(@task) %> |
      <%= link_to "クエスト一覧", tasks_path %>

      <%= button_to "クエスト削除", @task, method: :delete %>
    </div>

  </div>
</div>
