<div class="container-fluid px-0 py-5 my-5">
  <div class="row mx-0">
    <div class="col px-4 text-center">

      <h1 class="white-text mb-4">設定</h1>

      <h5 class="white-text">外部リンク登録</h5>

      <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <%= form_with(model: @user, local: true) do |form| %>
          <div class="form-floating mb-3">
            <%= form.text_field :github, class: 'form-control', id: 'github' %>
            <%= form.label :github, 'GitHub' %>
          </div>

          <div class="form-floating mb-3">
            <%= form.text_field :mattermost, class: 'form-control', id: 'mattermost' %>
            <%= form.label :mattermost, 'Mattermost' %>
          </div>

          <div class="form-floating mb-3">
            <%= form.text_field :notion, class: 'form-control', id: 'notion' %>
            <%= form.label :notion, 'Notion' %>
          </div>

          <div class="form-floating mb-3">
            <%= form.text_field :note, class: 'form-control', id: 'note' %>
            <%= form.label :note, 'Note' %>
          </div>

          <div class="form-floating mb-3">
            <%= form.text_field :hatena_blog, class: 'form-control', id: 'hatena_blog' %>
            <%= form.label :hatena_blog, 'Hatena Blog' %>
          </div>

          <div class="form-floating mb-3">
            <%= form.text_field :qiita, class: 'form-control', id: 'qiita' %>
            <%= form.label :qiita, 'Qiita' %>
          </div>

          <div class="form-floating mb-3">
            <%= form.text_field :zenn, class: 'form-control', id: 'zenn' %>
            <%= form.label :zenn, 'Zenn' %>
          </div>

          <div class="actions mb-4">
            <%= form.submit '更新', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

      <div class=""mt-4>
        <%= button_to "アカウント削除", @user, method: :delete, data: { turbo_confirm: "本当にアカウントを削除しますか？" }, class: "btn btn-danger" %>
      </div>

    </div>
  </div>
</div>
