<div class="container">
  <div class="card" style="text-align: center;">
    <img src="<%= @user.image %>" width="100" height="100" style="display: block; margin: auto;">
    <div class="card-body">

      <h5 class="card-title"><%= @user.name %></h5>

      <div class="d-flex justify-content-center gap-3">
        <%# <p class="card-text">勇者/魔法使い/僧侶/弓使い</p> %>
        <p class="card-text">Level: <%= @lists.sum { |list| list.todos.where(checked: true).count + list.tasks.where(checked: true).count } %></p>
        <%# <p class="card-text">称号:???</p> %>
      </div>

      <div class="d-flex justify-content-center gap-3" style="align-items: center;">
        <a href="https://twitter.com/<%= @user.nickname %>" target="_blank"><i class="bi bi-twitter" style="color: #00aced; font-size: 1.5rem;"></i></a>
        <% if @user.github.present? %>
          <%= link_to @user.github, target: "_blank" do %>
            <%= content_tag :i, nil, class: "bi bi-github", style: "color: #000; font-size: 1.5rem;" %>
          <% end %>
        <% end %>
        <% if @user.mattermost.present? %>
          <%= link_to image_tag("mattermost.jpeg", style: "height: 1.5rem;"), @user.mattermost, target: "_blank" %>
        <% end %>
        <% if @user.notion.present? %>
          <%= link_to image_tag("notion.jpeg", style: "height: 1.5rem;"), @user.notion, target: "_blank" %>
        <% end %>
        <% if @user.note.present? %>
          <%= link_to image_tag("note.jpeg", style: "height: 1.2rem;"), @user.note, target: "_blank" %>
        <% end %>
        <% if @user.hatena_blog.present? %>
          <%= link_to image_tag("hatena_blog.jpeg", style: "height: 2.3rem;"), @user.hatena_blog, target: "_blank" %>
        <% end %>
        <% if @user.qiita.present? %>
          <%= link_to image_tag("qiita.jpeg", style: "height: 1.5rem;"), @user.qiita, target: "_blank" %>
        <% end %>
        <% if @user.zenn.present? %>
          <%= link_to image_tag("zenn.jpeg", style: "height: 1.5rem;"), @user.zenn, target: "_blank" %>
        <% end %>
      </div>

      <div class="progress-bar-group">
        <% @lists.each do |list| %>
          <% unless list.title == "マイクエスト" %>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated <%= list_bar_color(list.title) %>" role="progressbar" style="width: <%= progress_percentage(list) %>%" aria-valuenow="<%= progress_percentage(list) %>" aria-valuemin="0" aria-valuemax="100"><%= list.title %></div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render partial: "lists/index", locals: { lists: @lists } %>
