<div class="container white-text">
  <footer class="border-bottom thick-border">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="/home/top" class="nav-link white-text">TOP</a></li>
      <li class="nav-item"><%= link_to "クエスト応募", "https://docs.google.com/forms/d/e/1FAIpQLSeZA2zNaglw6g-CTd8-3JOg1mWNA6P-uxh0x0XqRoCVMTphMA/viewform", class: "nav-link white-text" %></li>
      <li class="nav-item"><a href="/home/special_thanks" class="nav-link white-text">SpecialThanks!!</a></li>
      <li class="nav-item"><%= link_to "利用規約", "#", class: "nav-link white-text" %></li>
      <li class="nav-item"><%= link_to "プライバシポリシ", "#", class: "nav-link white-text" %></li>
      <li class="nav-item"><%= link_to "問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSem-rlvwDvTYiSJXXkoF9SltbqDEdEjaoFLUpd4Ci1vOEN5vA/viewform", class: "nav-link white-text" %></li>
    </ul>
    <p class="text-center">&copy; <%= Time.now.year %> CREDO QUEST</p>
  </footer>
</div>
