<!DOCTYPE html>
<html>
  <head>
    <title>CSSTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body-background">
    <%# <audio_tag data-turbo-permanent id="bgm" src="public/audios/bgm.mp3" loop></audio> %>
    <%= audio_tag "/audios/bgm.mp3", autoplay: true, id: "bgm" %>
    <%= yield %>
  </body>
</html>
