<!DOCTYPE html>
<html>
  <head>
    <title>CSSTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body-background">
    <audio data-turbo-permanent id="bgm" src="/audio/bgm.mp3" loop></audio>
    <%= yield %>
  </body>
</html>
