<!DOCTYPE html>
<html>
  <head>
    <title>CSSTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body-background">
    <%= audio_tag "/audios/bgm.mp3", id: "bgm", loop: true, data: { turbo_permanent: true } %>  <%# /から指定は、確かに動くがあまり推奨ではない %>
    <%= yield %>
  </body>
</html>
